:global .ui-keyboard-input {
  margin-bottom: .2em;
}

:global .ui-keyboard-button {
  margin: .1em;
}

:global .ui-keyboard-spacer {
  display: inline-block;
  width: 1px;
  height: 0;
  cursor: default;
}